# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
.env

# React:

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
quote-dropper-web/node_modules
quote-dropper-web/.pnp
quote-dropper-web/.pnp.js

# testing
quote-dropper-web/coverage

# next.js
quote-dropper-web/.next/
quote-dropper-web/out/

# production
quote-dropper-web/build

# misc
quote-dropper-web/.DS_Store
quote-dropper-web/*.pem

# debug
quote-dropper-web/npm-debug.log*
quote-dropper-web/yarn-debug.log*
quote-dropper-web/yarn-error.log*
quote-dropper-web/.pnpm-debug.log*

# local env files
quote-dropper-web/.env*.local

# vercel
quote-dropper-web/.vercel

# typescript
quote-dropper-web/*.tsbuildinfo
quote-dropper-web/next-env.d.ts